@page
@model Portfolio.Pages.BookList.CartModel
@{
    ViewData["Title"] = "Book Cart";
}
<br />
<div class="container" row p-0 m-0>
    <div class="col-8">
        <h2 class="text-info"> Book Cart</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Create new book</a>
    </div>
    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            @*Html.DisplayNameFor(m=>m.Books.FirstOrDefault().Author)*@
                            <label asp-for="Books.FirstOrDefault().Author"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ReleaseYear"></label>
                        </th>
                        <th style="width:20%;">
                            <label asp-for="Books.FirstOrDefault().Image">Front Cover</label>
                        </th>
                        <th style="width:20%;">
                            <label>Action</label>
                        </th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        @if (item.Cart)
                        {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ReleaseYear)
                    </td>
                    <td>
                        @{
                            if (item.Format != null && item.Format != "")
                            {
                                var url = "~/Images/" + item.Id.ToString() + item.Format.ToString();
                                <img src="@Url.Content(url)" style="display: block; width: 100%;" />
                            }
                        }
                    </td>
                    <td>
                        <button asp-page-handler="Checkout" asp-route-id="@item.Id"
                                onclick="return confirm('Are you sure you want to checkout ' + @item.Name + '?')"
                                class="btn btn-success btn-sm">
                            Checkout
                        </button>
                        <button asp-page-handler="Remove" asp-route-id="@item.Id"
                                onclick="return confirm('Are you sure you want to remove ' + @item.Name + ' from cart?')"
                                class="btn btn-danger btn-sm">
                            Remove
                        </button>
                    </td>
                </tr>
                        }
                    }
                </table>
            }
            else
            {
                <p>No books available.</p>
            }
        </form>
    </div>

    <div class="col-12" style="text-align:center">
        <br />
        <span class="h3 text-info">OR</span>
        <br /><br />
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Create new book</a>
    </div>
    <br />
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th> Name</th>
                    <th> Author</th>
                    <th> Release Year</th>
                    <th> Front Cover</th>
                    <th> Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<style>
    .greenClass {
        background-color: darkseagreen !important;
    }
</style>
@section Scripts{
    <script src="~/js/bookCart.js"></script>
}